#similarsites {
  list-style-image: url("chrome://xul-similar-sites/content/icon.png");
}

#similarsites .toolbarbutton-icon {
  width: 18px;
}

#similarsites-popup .panel-arrowcontent {
  padding: 0px;
}

#popup-iframe {
  height: 600px;
  width: 620px;
}
